<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
    <title>Movie Recommendation</title>
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="/movie">Movie Predictor</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">


                        <ul class="nav navbar-nav">
                            
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">About Us </a>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="/team">Team</a>
                                    <a class="dropdown-item" role="presentation" href="/faq">FAQ</a>
                                    <a class="dropdown-item" role="presentation" href="/resources">Resources</a>
                                    <a class="dropdown-item" role="presentation" href="/contactus">Contact Us</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav">
                            
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Genre</a>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/search/title/?title_type=feature&genres=thriller" target="_blank">Thriller</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/search/title/?title_type=feature&genres=action&explore=genres" target="_blank">Action</a>
                                    <a class="dropdown-item" role="presentation" href="https://m.imdb.com/search/title/?genres=romance&explore=title_type,genres&title_type=movie" target="_blank">Romance</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/search/title/?genres=drama&explore=title_type,genres&title_type=movie" target="_blank">Drama</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/search/title/?title_type=feature&genres=comedy" target="_blank">Comedy</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/search/title/?title_type=feature&genres=horror" target="_blank">Horror</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/search/title/?genres=sci-fi&explore=title_type,genres&title_type=movie" target="_blank">Sci-Fi</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav">
                            
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Languages</a>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/list/ls025646548/" target="_blank">Hindi</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/list/ls055386972/" target="_blank">English</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/list/ls003722628/" target="_blank">Tamil</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/list/ls093176796/" target="_blank">Punjabi</a>
                                    <a class="dropdown-item" role="presentation" href="https://www.imdb.com/list/ls071457399/" target="_blank">Telugu</a>
                                </div>
                            </li>
                        </ul>

    

                        <form class="form-inline mr-auto" target="_self">
                            <!-- <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div> -->
                        </form><span class="navbar-text"> <a href="/login" class="login">Logout</a></span><a class="btn btn-light action-button" value="{{current_user}}" role="button" href="#">Hi {{current_user}}</a></div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>Movie Watch Time.</h1>
                        <p>Movies will make you famous; Television will make you rich; But theatre will make you good. <b>~Terrence</b>. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
                    <div
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <!-- <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                            <div class="screen"></div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>